* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: orange;
    color: black;
}
h1 {
    font-size: 30px;
}
header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 500px;
    margin-top: 20px;
}
section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.goku {
    width: 256px;
    height: 512px;
}

input {
    width: 150px;
    margin-top: 10px;
}

#goku0 {
    background-image: url("../img/goku0");
}

#goku1 {
    background-image: url("../img/goku1");
}

#goku2 {
    background-image: url("../img/goku2");
}

#goku3 {
    background-image: url("../img/goku3");
}

#goku4 {
    background-image: url("../img/goku4");
}

#goku5 {
    background-image: url("../img/goku5");
}

#goku6 {
    background-image: url("../img/goku6");
}

#goku7 {
    background-image: url("../img/goku7");
}
