* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: orange;
    color: black;
}
h1 {
    font-size: 30px;
}
header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 500px;
    margin-top: 20px;
}
section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.goku {
    width: 256px;
    height: 512px;
}

input {
    width: 256px;
    margin-top: 10px;
}

#goku0 {
    background-image: url("../img/fase0.jpg");
}

#goku1 {
    background-image: url("../img/fase1.jpg");
}

#goku2 {
    background-image: url("../img/fase2.jpg");
}

#goku3 {
    background-image: url("../img/fase3.jpg");
}

#goku4 {
    background-image: url("../img/fase4.jpg");
}

#goku5 {
    background-image: url("../img/fase5.jpg");
}

#goku6 {
    background-image: url("../img/fase6.jpg");
}

#goku7 {
    background-image: url("../img/fase7.jpg");
}
